/*---------------------------------------------------
GENERIC STYLES
----------------------------------------------------*/
h1{
    line-height: 30px;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    color: #000;
    font-family: inpact, sans-serif;
}

h3{
    line-height: 300px;
    font-size: 30px;
    padding-bottom: 20px;
}


p{
    font-weight: 300;
    line-height: 50%;
}

/*---------------------------------------------------
NAV STYLES
----------------------------------------------------*/

.menu-container{
    width: 100%;
    position: fixed;
    text-align: center;
    overflow:hidden;
}

.menu li{
    font: bold 12px/18px sans-serif;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9d9fa2;
    border-radius: 6px;
    cursor: pointer;
}



/*---------------------------------------------
HOME SECTION STYLES
---------------------------------------------------*/
#home {
    background: url(./Images/background.png) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 550px;/*This is spacer before the Main title logo*/
    padding-bottom: 600px;/*This is spacer after the main title logo*/
    color: #fff;
}

.head-main{
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: inpact, sans-serif;
    line-height: 2;
    font-weight: 700;
    padding: 20px;
}

.text-center{
    text-align: center;
}


/*---------------------------------------------
CONCERTS SECTION STYLES
---------------------------------------------------*/

#concerts{
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 100px;
    padding-bottom: 300px;
    color: #fff;
}

.photo-container{
    text-align: center;
    margin: 100px auto;
    width: 100%;
    height: 100%;
}



.photo{
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
}

.photo-container img{
    max-width: 100%;
    width: 1500px;
    height: 1000px;
}

.photo-overlay{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 200px;
    padding-left: 20px;
    justify-content: right;/*For centering text inside .photo-overlay*/
    align-items: right;
}

/*---------------------------------------------
CONTACT SECTION STYLES
---------------------------------------------------*/
#contact{
    background-color: #FAEBD7;
    padding-top: 50px;
    padding-bottom: 200px;
}

.form p{
    color: #13161b;
    font-weight: 300;
    font-size: 1em;
    font-family: inpact, sans-serif;
    padding-left: 10px;
    padding-bottom: 70px;
}

.form input[type="text"]{
    margin: 10px 1em;
    width: 10%;
    border-radius: 7px;
    border: 1px solid #090b0d;
}
